.searchfirstsec{
    background-color: rgb(10, 10, 42);
    /* background-image: linear-gradient(0deg,#15457b,#051423); */
    width: 100%;
    /* height: auto; */
    min-height: 12rem;
    padding-top: 40px;
    position: relative;
    /* position: sticky !important; */
    /* padding-left: 10px; */
    /* padding: 0 1em; */
    /* margin:  0 auto; */
    /* position: relative; */
    /* margin-top: 3rem; */
}
.searchcontainer{
    /* margin-top: 1rem; */
    /* position: relative; */
    /* top: 2rem; */
    
}
.searchrow{
    /* background-color: rgb(10, 10, 42); */
    
    /* justify-content: space-between; */
    gap: 4px;
    margin-left: 5rem !important;
    /* display: grid !important; */
    /* place-items: center !important; */
}
.btnsearch{
    /* line-height: inherit !important; */
    /* background: #fff !important; */
    /* box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%) !important; */
    /* padding: 11px 10px 11px 30px !important; */
    /* outline: 0 !important; */
    /* background-color: rgb(140, 140, 158) !important; */
    /* border: 0 !important; */
    /* width: 100% !important; */
    /* font-size: 16px !important; */
    color: #000 !important;
    font-weight: 700 !important;
}
.colsearch{
    /* background-color: red ; */
    /* width: 20px !important; */
}
.searchstart{
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

/*  */
.listContainer {

    display: flex;
    justify-content: center;
    margin-right: 4rem;
    margin-top: 20px;
    position: relative;
    /* position: sticky; */
    bottom: 9rem;

    /* background: #e5eef4; */
  }
  
  .listWrapper {
    width: 70rem;
    /* max-width: 1024px; */
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
  }
  
  .listSearch {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    width: 3rem !important;
    /* border-radius: 10px; */
    /* position: sticky; */
    top: 10px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 6px rgb(158, 156, 156);
    height: max-content;
  }
  
  .filtertitle{
    font-size: 16px;
    font-weight: 900;
    color: rgba(0,0,0,.85);
    margin-bottom: 15px;
    font-family: 'Lato',sans-serif !important;

  }
  
  .filtername{
    display: flex ;
    flex-direction: row !important ;
    gap: 5px;
    margin-bottom: 10px;
    text-align: end !important;
    /* background-color: #140c28 !important; */
  }
  
  .filtername>label{
    font-size: 12px;
  }
  
  .filtername>input{
    height: 30px;
    text-align: center !important;
    border: none;
    padding: 5px;
  }
  .lsitem>span{
    height: 30px ;
    padding: 5px;
    background-color: white;
    display: flex;
    /* align-items: start !important; */
    text-align: start !important;
    cursor: pointer;
  }
  
  .lsOptions{
    padding: 10px;
  }
  
  .lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
  }
  
  .lsOptionInput{
    width: 50px;
  }
  
  .listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
  }
  .lsitem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    
  }.lsitem>label{
    font-size: 12px;
  }
  .lsitem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .lsitem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .lsitem>span{
    height: 30px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;

  }
  .lsOptions{
    padding:10px
  }
  .lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
  }
  .lsOptionInput{
width: 50px;
  }
  .listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  .listResult {
    flex: 3;
  }
  .searchcenter{
    background-color: rgb(10, 10, 42);

    
     /* background-image: linear-gradient(0deg,#15457b,#051423); */
    width: 100%;
    
    height: 9rem;
  }
  /* filter */
  .colfilter,.coldetails{
    position: relative;
    bottom: 8rem;
  }
  .filtername{
    margin-right: auto;
    text-align: start !important;
    /* margin-left: 2rem; */
    font-size: 14px;
    font-weight: 500;
    margin-right:5rem;
    position: relative;
  }
  .filterprice{
    font-size: medium;
    margin-left: auto !important;
    text-align: end;
  }
  .filtersec{
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 5px rgb(158, 156, 156);
  }
  /* filtersec */
  .filtersec{
    display: flex;
    flex-wrap: wrap;
    /* width: 10px; */
    max-width: fit-content !important;
    flex-direction: row !important;
   
    ;
  }
  .filterright{
    /* float: right; */
    /* width: 50%; */
    /* flex: 1 1 150px; */
  }
  .filterleft{
    /* width: 50%; */

    /* float: left !important; */
  }
  .filtermain{
    background-color: #e5eef4;;
    position: relative;
    bottom: 2rem;
    display: flex;
    /* flex: ; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }.filterleft{
    position: relative;
    bottom: 4.3rem;
    margin-right: 53rem !important;
    /* display: flex; */
  }
  /* 2nd column */
  .mysafetycard{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(232, 253, 233));
    display: flex;
    align-items: center !important;
    padding: 12px !important;
    border-radius: 2px !important;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    margin-left: 2.7rem !important;
    margin-top: 10px !important;
    /* line-height: 1.5 !important; */
    max-width: 95.5% !important;

}
/* listingcards */
.listingcards{
  padding: 16px 14px !important;
  border-top: 8px solid #e5eef5;
  background: #fff;
  border-radius: 2px;
  position: relative;
}
.multicards{
  padding: 16px 14px !important;
  border-top: 8px solid #e5eef5;
  background: #fff;
  border-radius: 2px;
  position: relative;
  border:1px solid #cccccc;
  position: relative;
  box-shadow: 0 -20px 0 -5px none,
  0 -20px 0 -5px rgba(247, 243, 243, 0.5),
  0 -40px 0 -15px rgba(0,0,0,0.5);
}
.multicards::before{
  content: '';
     position: absolute;
     top: -10px;
     left: 50%;
     background: white;
     opacity: 0.5;
     transform: translateX(-50%);
     width: 98%;
     height: 100%;
     /* border: 1px solid #cccccc; */
     border-radius: 4px;
     z-index: -1;
}.multicards::after{
  content: '';
   position: absolute;
   top: -20px;
   left: 50%;
   background: white;
   opacity: 0.4;
   transform: translateX(-50%);
   width: 95%;
  height: 100%;
   border: 1px solid #cccccc;
  border-radius: 4px;
 z-index: -2;
}
.viewprices{
  padding: 16px 14px !important;
  border-top: 8px solid #f3f6f9;
  background: #fff;
  border-radius: 2px;
  position: relative;
}
/* view prices */
.viewprices{
  padding: 16px 14px !important;
  /* border-top: 8px solid #e5eef5; */
  /* padding-left: 12rem !important; */
  background: #fff;
  padding: 10px !important;
  border-radius: 2px;
  /* height: 4rem; */
  position: relative;
}
  
  /* airline names */
  .airlinenames{
    width: 100px !important;
    text-overflow: ellipsis;
    overflow: hidden !important;
    white-space: nowrap !important;
    font-size: 14px;
    font-family: 'Lato',sans-serif !important;
    font-weight: 700 !important;
  }

  @media screen and (max-width:1120px) {
    .colmn6{
      margin-left: 2rem !important;
      color: green !important;
      display: flex;
      flex-wrap: wrap !important;
      flex-direction: column;

    }

  }
    
  
