.searchfirstsec{
    background-color: rgb(10, 10, 42);
    /* height: auto; */
    min-height: 12rem;
    padding-top: 40px;
    position: relative;
    position: sticky !important;
    padding-left: 10px;
    /* position: relative; */
    /* margin-top: 3rem; */
}
.searchcontainer{
    /* margin-top: 1rem; */
    /* position: relative; */
    /* top: 2rem; */
}
.searchrow{
    /* background-color: rgb(10, 10, 42); */
    
    /* justify-content: space-between; */
    gap: 4px;
    margin-left: 5rem !important;
}
.btnsearch{
    /* line-height: inherit !important; */
    /* background: #fff !important; */
    /* box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%) !important; */
    /* padding: 11px 10px 11px 30px !important; */
    /* outline: 0 !important; */
    /* background-color: rgb(140, 140, 158) !important; */
    /* border: 0 !important; */
    /* width: 100% !important; */
    /* font-size: 16px !important; */
    color: #000 !important;
    font-weight: 700 !important;
}
.colsearch{
    /* background-color: red ; */
    /* width: 20px !important; */
}
.searchstart{
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

/*  */
.listContainer {

    display: flex;
    justify-content: center;
    margin-right: 4rem;
    margin-top: 20px;
    position: relative;
    /* position: sticky; */
    bottom: 9rem;

    /* background: #e5eef4; */
  }
  
  .listWrapper {
    width: 70rem;
    /* max-width: 1024px; */
    display: flex;
    gap: 20px;
  }
  
  .listSearch {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    width: 3rem !important;
    /* border-radius: 10px; */
    position: sticky;
    top: 10px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 6px rgb(158, 156, 156);
    height: max-content;
  }
  
  .lsTitle{
    font-size: 16px;
    font-weight: 900;
    color: rgba(0,0,0,.85);
    margin-bottom: 15px;
    font-family: 'Lato',sans-serif !important;

  }
  
  .lsitem{
    display: flex ;
    flex-direction: row !important ;
    gap: 5px;
    margin-bottom: 10px;
    /* background-color: #140c28 !important; */
  }
  
  .lsitem>label{
    font-size: 12px;
  }
  
  .lsitem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .lsitem>span{
    height: 30px ;
    padding: 5px;
    background-color: white;
    display: flex;
    /* align-items: start !important; */
    text-align: start !important;
    cursor: pointer;
  }
  
  .lsOptions{
    padding: 10px;
  }
  
  .lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
  }
  
  .lsOptionInput{
    width: 50px;
  }
  
  .listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
  }
  .lsitem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    
  }.lsitem>label{
    font-size: 12px;
  }
  .lsitem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .lsitem>input{
    height: 30px;
    border: none;
    padding: 5px;
  }
  .lsitem>span{
    height: 30px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;

  }
  .lsOptions{
    padding:10px
  }
  .lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
  }
  .lsOptionInput{
width: 50px;
  }
  .listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
  }
  .listResult {
    flex: 3;
  }
  .searchcenter{
    background-color: #140c28;
    
    height: 9rem;
  }
  /* filter */
  .filtername{
    margin-right: auto;
    text-align: start !important;
    /* margin-left: 2rem; */
    font-size: 14px;
    font-weight: 500;
    margin-right:5rem;
    position: relative;
  }
  .filterprice{
    font-size: medium
  }