.FirstSection{
    /* background-color: rgb(69, 69, 143); */
    height: auto;
    background-color: rgb(32, 5, 73);
    position: relative;
    
}
.logo{
    color: burlywood !important;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.roww{
background-color: #fff;
margin-bottom: 1rem !important;
border-radius: 20px !important;
}
.container{
/* margin-top:2rem !important; */
background:white;
border-radius: 20px ;
margin-bottom: 1rem !important;


}

.hover-underline-animation:after{
    content: '';
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation{
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
    cursor: pointer;
    /* margin: 1rem; */
    padding: 1rem;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    /* width: 20px; */
    margin-left: 15px !important;
  }


.roww1{
    background-color: #fff;
    position: relative;
    /* height: 80px; */
    border-radius: 20px;
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
    /* margin-bottom: 2rem !important; */
    display: flex !important;
    /* top: 2rem !important; */
    bottom: 2.5rem;
    box-shadow: 1px 1px #888888;

}
.bidf{
    /* margin-left: auto !important; */
    left: auto !important;
    padding-left: auto !important;
    position: relative;
    
    /* bottom: 3rem; */
    /* margin-top: 2rem !important; */
}
/* radiobutton */
.radiobutton,.radiobutton1,.radiobutton2{
    width: 15% !important;
    min-width: 20% !important;
    margin-left: 1rem;
    background-color: rgb(225, 225, 225) !important;
    margin-bottom: 1rem;
    color: black !important;
    border-radius: 2rem !important;
    
}

/* oneway */
.onewaytitle{
    /* font-size: x-large; */
    font-weight: bold;
    margin-left: 2px;
}
.oneway{
    /* margin: 1rem !; */
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    /* background-color: rgb(235, 246, 249); */
    border-radius: 20px;
    /* height: 300px; */
    margin-top: 10px!important;
    justify-content: space-evenly !important;
    margin-bottom: 1rem;
    box-shadow: 1px 1px #888888;
        -moz-box-shadow: 0 0 3px #ccc;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px rgb(158, 156, 156);
    cursor: pointer;
   
    
}
.coloneway:hover{
    background-color: rgb(227, 242, 247);
    transition-duration: 0.5s;

}
.anothercity{
    background-color: #fff !important;
    color: black !important;
    
    margin-top: 2rem !important;
}
/* select fare types */
.row3{
    margin-top: 1rem !important;
    /* margin-left: 1rem !important; */
    /* margin-bottom: 1rem !important; */
}
.faretypes{
    color: #888888;
    top: 17px !important;
    position: relative;
}
.faretypesbutton{
    background-color: rgb(237, 235, 235) !important;
    width: 10% !important;
    position: relative;
    bottom: 2.5rem;
    margin-left: 6rem;
    /* margin-left: auto; */
}
.faretypesbutton1{
    width: 10% !important;
    background-color: rgb(237, 235, 235) !important;
    position: relative;
    bottom: 2.5rem;
    margin-left: 5px;
}
.faretypesbutton2{
    width: 10% !important;
    background-color: rgb(237, 235, 235) !important;
    position: relative;
    bottom: 2.5rem;
    margin-left: 5px;

}
.faretypesbutton3{
    width: 10% !important;
    position: relative;
    background-color: rgb(237, 235, 235) !important;
    bottom: 2.5rem;
    margin-left: 5px;

}
.faretypesbutton4{
    width: 10% !important;
    position: relative;
    background-color: rgb(237, 235, 235) !important;
    bottom: 2.5rem;
    margin-left: 5px;

}
.faretypesbutton5{
    width: 10% !important;
    background-color: rgb(237, 235, 235) !important;
    position: relative;
    bottom: 2.5rem;
    margin-right: auto !important;
    justify-content: space-between;
    cursor: pointer;
}
.farespan{
    justify-content: space-between !important;
    /* margin-left: 0.5rem; */
    margin-left: auto;
    font-style:  italic;
    /* font-size: medium; */
}

/* search button */
.searchbutton{
    
    width: 20%;
    position: relative;
    margin-left: 40% !important;
    margin-right: 50% !important;
    top: 2rem;
    border-radius: 3rem !important;
    height: 60px;
    /* margin-left: 2rem !important; */
}
.search{
    font-weight: 500;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* deletebtn */
.deletebutton{
    margin-left: 9rem !important;
    margin-top: 1rem !important;
}